@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
/*VARS*/
/*MIXINS*/
/*HTML, BODY, :selection*/
html {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 4em 0 0;
  font-family: "Source Sans Pro", sans-serif;
  background: #f5f5f5;
  overflow-x: hidden; }

::selection {
  background: #013d7d;
  color: #fff; }

::-moz-selection {
  background: #013d7d;
  color: #fff; }

/*BASIC ELEMENTS*/
h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  text-align: center;
  color: white; }

h2 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 1.4em;
  margin: 1em 30px 0.5em;
  text-align: center; }

a {
  color: #013d7d;
  text-decoration: none; }
  a:visited {
    color: #01244a; }
  a:hover {
    text-decoration: underline; }

input, button {
  padding: 0.6em;
  border: 1px solid #eeeeee;
  background: #fafafa;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2em; }

/*HEADER, NAV*/
header#main {
  background: #013d7d;
  z-index: 3;
  width: 100%;
  position: fixed;
  top: 0; }
  header#main h1 {
    display: inline-block;
    font-size: 1.5em;
    margin: 0.5em;
    float: left; }
    header#main h1 a:link, header#main h1 a:visited {
      color: white;
      text-decoration: none; }
  header#main span {
    display: block;
    float: left;
    padding: 1.2em 0.9em 0;
    color: rgba(255, 255, 255, 0.7); }
  header#main input[type=number], header#main button {
    margin: 0.7em 0 0;
    border: 0;
    float: left;
    max-width: 32px;
    font-size: 0.9em; }
  header#main #togglesearch {
    width: 55px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer; }
    header#main #togglesearch div {
      font-size: 1.4em;
      display: block;
      width: 0.4em;
      height: 0.4em;
      border: 0.1em solid white;
      position: relative;
      border-radius: 0.35em;
      margin: 0.95em auto; }
      header#main #togglesearch div:before {
        content: "";
        display: inline-block;
        position: absolute;
        right: -0.25em;
        bottom: -0.2em;
        border-width: 0;
        background: white;
        width: 0.25em;
        height: 0.08em;
        transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg); }

/*AUTOCOMPLETION*/
input#search {
  margin: 1em 5% 0;
  width: 90%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

ul#acs {
  margin: 0 5% 1em;
  padding: 0;
  list-style: none; }
  ul#acs li {
    border: 1px solid #eeeeee;
    background: #fafafa;
    border-top: none; }
    ul#acs li a, ul#acs li.noresult {
      font-size: 1.2em;
      padding: 0.7em;
      display: block; }
    ul#acs li.selected a {
      background: rgba(2, 110, 226, 0.1); }

section {
  margin: 5%;
  background: #fafafa;
  border: 1px solid #eeeeee; }
  section:nth-child(1) {
    margin-top: 2em; }

p {
  padding: 0 0.72em;
  word-wrap: break-word; }

pre {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0 0.72em;
  white-space: normal; }

/*TIMETABLE*/
#centerbutton {
  text-align: center; }

button#save_user, button#remove_user {
  margin: 1em auto 0;
  /*  display: block;*/
  background: #013d7d;
  color: white;
  border-color: #01244a; }

section#timetable {
  width: 90%; }
  section#timetable nav {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #eeeeee; }
    section#timetable nav .obs {
      display: none; }
    section#timetable nav a {
      display: block;
      float: left;
      width: 15%;
      padding: 2.5%;
      font-weight: bold;
      text-align: center; }
      section#timetable nav a.focused {
        background: #013d7d;
        color: white; }

div#days {
  position: relative;
  height: 702px; }
  div#days div#numbers {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 2em;
    font-weight: bold;
    color: #013d7d;
    border-right: 1px solid #eeeeee; }
    div#days div#numbers div {
      height: 58px;
      padding: 20px 10px 0; }
  div#days table.day {
    position: absolute;
    top: 0;
    left: 38px;
    border-spacing: 0; }
    div#days table.day > tbody > tr > td {
      height: 76px;
      padding-left: 0.5em; }
  div#days table.roostercontainer {
    font-size: 0.8em; }

tr.current {
  background: white;
  width: 100%; }

.top, .left {
  background: #f5f5f5;
  padding: 0 0.5em; }

.top {
  padding: 0.5em 0; }

.vervallen {
  background: rgba(255, 0, 0, 0.4); }

.vrij {
  background: #f0f0f0; }

.wijziging {
  background: url(/static/img/wijziging.gif) no-repeat; }

.informatie {
  background: url(/static/img/informatie.gif) no-repeat; }

footer {
  text-align: center; }

@media (min-width: 700px) {
  input#search {
    margin: 2em 2% 0;
    width: 96%; }

  header#main h1 {
    margin: 0.7em; }
  header#main span {
    padding: 1.4em 0.9em 0; }
  header#main input[type=number], header#main button {
    margin: 1em 0 0; }
  header#main #togglesearch {
    display: none; }

  section, ul#acs {
    margin: 0 2% 2em; }
    section:nth-child(1), ul#acs:nth-child(1) {
      margin-top: 2em; }

  section#timetable {
    width: 96%;
    overflow-x: auto; }
    section#timetable > table {
      min-width: 600px; }
      section#timetable > table table {
        width: 100% !important; }
    section#timetable .obs {
      display: inline-block; }

  table {
    width: auto;
    margin: auto; } }
