@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);

/*VARS*/
$font: 'Source Sans Pro', sans-serif;
$pagewidth: 1000px;

$maincolor: #013D7D;


/*MIXINS*/
@mixin prefixify($style, $content...) {
          #{$style}: $content;
       -o-#{$style}: $content;
      -ms-#{$style}: $content;
     -moz-#{$style}: $content;
  -webkit-#{$style}: $content;
}

@mixin transition($property, $duration: 200ms) {
          transition: $property $duration ease-in-out;
       -o-transition: $property $duration ease-in-out;
      -ms-transition: $property $duration ease-in-out;
     -moz-transition: $property $duration ease-in-out;
  -webkit-transition: $property $duration ease-in-out;
}


/*HTML, BODY, :selection*/
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 4em 0 0;
  font-family: $font;
  background: #f5f5f5;
  overflow-x: hidden;
}

::selection {
  background: $maincolor;
  color: #fff;
}
::-moz-selection {
  background: $maincolor;
  color: #fff;
}


/*BASIC ELEMENTS*/
h1 {
  font-family: $font;
  font-weight: 300;
  text-align: center;
  color: white;
}

h2 {
  font-family: $font;
  font-weight: 300;
  font-size: 1.4em;
  margin: 1em 30px 0.5em;
  text-align: center;
}


a {
  color: $maincolor;
  text-decoration: none;

  &:visited {
    color: darken($maincolor, 10%);
  }

  &:hover {
    text-decoration: underline;
  }
}


input, button {
  padding: 0.6em;
  border: 1px solid #eee;
  background: #fafafa;
  font-family: $font;
  font-size: 1.2em;
}


/*HEADER, NAV*/
header#main {
  background: $maincolor;
  z-index: 3;
  width: 100%;
  position: fixed;
  top: 0;

  h1 {
    display: inline-block;
    font-size: 1.5em;
    margin: 0.5em;
    float: left;

    a:link, a:visited {
      color: white;
      text-decoration: none;
    }
  }

  span {
    display: block;
    float: left;
    padding: 1.2em 0.9em 0;
    color: transparentize(white, 0.3);
  }

  input[type=number], button {
    margin: 0.7em 0 0;
    border: 0;
    float: left;
    max-width: 32px;
    font-size: 0.9em;
  }

  #togglesearch {
    width: 55px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    
    div {
      font-size: 1.4em;
      display: block;
      width: 0.4em;
      height: 0.4em;
      border: 0.1em solid white;
      position: relative;
      border-radius: 0.35em;
      margin: 0.95em auto;
      
      &:before {
        content: "";
        display: inline-block;
        position: absolute;
        right: -0.25em;
        bottom: -0.2em;
        border-width: 0;
        background: white;
        width: 0.25em;
        height: 0.08em;
                transform: rotate(45deg);
             -o-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
           -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }
  }
}


/*AUTOCOMPLETION*/
div#searchname {
  max-height: 70px;
  overflow: hidden;
  @include prefixify(transition, max-height 200ms ease-out);
  
  &.hidden {
    max-height: 0;
  }
}

input#search {
  margin: 1em 5% 0;
  width: 90%;
  @include prefixify(box-sizing, border-box);
}

ul#acs {
  margin: 0 5% 1em;
  padding: 0;
  list-style: none;

  li {
    border: 1px solid #eee;
    background: #fafafa;
    border-top: none;

    a, &.noresult {
      font-size: 1.2em;
      padding: 0.7em;
      display: block;
    }

    &.selected a {
      background: transparentize(lighten($maincolor, 20%), 0.9);
    }
  }
}


section {
  margin: 5%;
  background: #fafafa;
  border: 1px solid #eee;

  &:nth-child(1) {
    margin-top: 2em;
  }
}


p {
  padding: 0 0.72em;
  word-wrap: break-word;
}


pre {
  font-family: $font;
  padding: 0 0.72em;
  white-space: normal;
}


/*TIMETABLE*/
#centerbutton {
  text-align: center;
}

button#save_user, button#remove_user {
  margin: 1em auto 0;
/*  display: block;*/
  background: $maincolor;
  color: white;
  border-color: darken($maincolor, 10%);
}

section#timetable {
  width: 90%;

  nav {
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    
    .obs {
      display: none;
    }
    
    a {
      display: block;
      float: left;
      width: 15%;
      padding: 2.5%;
      font-weight: bold;
      text-align: center;
      
      &.focused {
        background: $maincolor;
        color: white;
      }
    }
  }
}

div#days{
  position: relative;
  height: 711px;
  
  div#numbers {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 2em;
    font-weight: bold;
    color: $maincolor;
    border-right: 1px solid #eee;
    
    div {
      height: 58px;
      padding: 20px 10px 0;
    }
  }

  table.day {
    position: absolute;
    top: 0;
    left: 38px;
    padding-right: 38px;
    width: 100%;
    border-spacing: 0;
    display: none;
    
    > tbody > tr > td {
      height: 76px;
      padding-left: 0.5em;
      border-bottom: 1px solid #eee;
    }
    
    &.focused {
      display: table;
    }
  }
  
  table.roostercontainer {
    font-size: 0.8em;
  }
}

tr.current {
  background: transparentize(lighten($maincolor, 15%), 0.85);
  width: 100%;
}

.top, .left {
  background: #f5f5f5;
  padding: 0 0.5em;
}
.top {
  padding: 0.5em 0;
}

.vervallen {
  background: transparentize(red, 0.6);
}

.vrij {
  background: #f0f0f0;
}

.wijziging {
  background: url(/static/img/wijziging.gif) no-repeat;
}

.informatie {
  background: url(/static/img/informatie.gif) no-repeat;
}

#hoverinfo {
  z-index: 2;
}


footer {
  text-align: center;
  margin: 2em 0;
}

@media (min-width: 700px) {
  header#main {
    h1 {
      margin: 0.7em;
    }
    span {
      padding: 1.4em 0.9em 0;
    }
    input[type=number], button {
      margin: 1.0em 0 0;
    }
    
    #togglesearch {
      display: none;
    }
  }

  div#page, div#limit {
    max-width: 800px;
    margin: auto;
  }
  
  div#searchname.hidden {
    max-height: none;
  }
  
  input#search {
    margin: 2% 2% 0;
    width: 96%;
  }

  section, ul#acs {
    margin: 0 2% 2em;
    &:nth-child(1) {
      margin-top: 2em;
    }
  }

  section#timetable {
    width: 96%;

    nav {
      display: none;
    }
    
    div#daycontainer {
      position: absolute;
      padding-left: 37px;
      @include prefixify(box-sizing, border-box);
      top: 0;
      width: 100%;
    }
    
    table.day {
      position: relative;
      float: left;
      width: 20%;
      padding: 0;
      left: 0;
      
      &:not(.focused) {
        display: table;
      }
      
      > tbody > tr > td {
        border-left: 1px solid #eee;
      }
    }
  }
}