{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block bodyclass %}
{% endblock %}

{% block page %}
  <div id="content">
    <section>
      <h2>Over</h2>
      <p>
        Dit is een site die de roosters van het Cygnus Gymnasium van infoweb en in een iets mooier en gebruiksvriendelijker jasje stopt.
      </p>
      <p>
        Vragen? Mail naar <a href="mailto:florismartijnjansen+infowebviewer@gmail.com">florismartijnjansen+infowebviewer@gmail.com</a>.
      </p>
    </section>
  </div>
{% endblock %}
