{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block bodyclass %}
{% endblock %}

{% block page %}
  <div id="content">
    <div id="searchname">
      <input type="text" placeholder="Vind een rooster..." id="search">
    </div>
    <ul id="acs"></ul>

    <section>
      <h2>Aanpassingen</h2>
      <p id="changes">
        {{ changes|safe }}
      </p>
    </section>

    <section id="rooster">
      <h2>Rooster van {{ h2 }}</h2>
      {{ rooster|safe }}
    </section>
  </div>
{% endblock %}
