{% extends "base.html" %}

{% block head %}
  <script>
    function otherWeek(nuInput) {
      weeknummer = nuInput.val();
      var pathArray = window.location.pathname.split('/');
      pathArray[4] = weeknummer;
      var fullUrl = 'http://' + window.location.host + pathArray.join('/');
      console.log(fullUrl);
      window.location = fullUrl;
    }

    $(document).ready(function() {
      $('nav').append('<button>Ga</button>');
      $('button').click(function() {
        otherWeek($(this).prev());
      });
      $('input[type=number]').keyup(function(e) {
        if(e.keyCode === 13) { //enter
          otherWeek($(this));
        }
      });
    });
  </script>
{% endblock %}

{% block bodyclass %}
{% endblock %}

{% block page %}
  <div id="content">
    <div id="searchname">
      <input type="text" placeholder="Vind een rooster..." id="search">
    </div>
    <ul id="acs"></ul>

    <section id="rooster">
      <h2>{{ h2 }}</h2>
      {{ rooster|safe }}
    </section>

    <section>
      <h2>Aanpassingen</h2>
      <p id="changes">
        {{ changes|safe }}
      </p>
    </section>
  </div>
{% endblock %}
