{% extends "base.html" %}

{% block head %}
  <script src="/static/js/boxover.js"></script>
  <script>
    $(document).ready(function() {
      $('nav').append('<button id="change_week">Ga</button>');
      $('button#change_week').click(function() {
        otherWeek($(this).prev());
      });
      $('input[type=number]').keyup(function(e) {
        if(e.keyCode === 13) { //enter
          otherWeek($(this));
        }
      });

      highlightHour(getCorrectHour());
      var reCalcHour = setInterval(function() {
        highlightHour(getCorrectHour())
      }, 1000 * 60 * 5);
    });

    var mouse_location_event = null;
    var timer_hover_id = null;

    function handleMouseMove(event) {
      event = event || window.event; // IE-ism
      mouse_location_event = event;
    }

    document.onmousemove = handleMouseMove;
  </script>
{% endblock %}

{% block bodyclass %}
{% endblock %}

{% block page %}
  <div id="content">
    <div id="searchname">
      <input type="text" placeholder="Vind een rooster..." id="search">
    </div>
    <ul id="acs"></ul>

    <button id="save_user" data-group="{{ group }}" data-user_id="{{ id_user }}" data-ref="{{ ref }}">Toon dit rooster bij openen</button>
    <h2>{{ h2 }}</h2>

    <section id="timetable">
      {{ timetable|safe }}
    </section>
  </div>
{% endblock %}
