{% extends "base.html" %}

{% block head %}
  <script src="/static/js/boxover.js"></script>
  <script src="/static/js/timetable.js"></script>
{% endblock %}

{% block bodyclass %}
{% endblock %}

{% block header %}
  <div id="togglesearch">
    <div></div>
  </div>
{% endblock %}

{% block page %}
  <div id="content">
    <div id="searchname">
      <input type="text" placeholder="Vind een rooster..." id="search">
    </div>
    <ul id="acs"></ul>

    <h2>{{ h2 }}</h2>

    <section id="timetable">
      <nav id="tabswitcher">
        <a href="#mon">Ma<span class="obs">andag</span></a>
        <a href="#tue">Di<span class="obs">nsdag</span></a>
        <a href="#wed">Wo<span class="obs">ensdag</span></a>
        <a href="#thu">Do<span class="obs">nderdag</span></a>
        <a href="#fri">Vr<span class="obs">ijdag</span></a>
      </nav>
      <div id="days">
        <div id="numbers">
          <div>1</div>
          <div>2</div>
          <div>3</div>
          <div>4</div>
          <div>5</div>
          <div>6</div>
          <div>7</div>
          <div>8</div>
          <div>9</div>
        </div>
        {{ timetable|safe }}
      </div>
    </section>

    <div id="centerbutton">
      <button id="save_user" data-group="{{ group }}" data-user_id="{{ id_user }}" data-ref="{{ ref }}">Toon dit rooster bij openen</button>
    </div>
  </div>
{% endblock %}
