{% extends "base.html" %}

{% block head %}
  <script>
    $(document).ready(function() {
      $('nav').append('<button>Ga</button>');
      $('button').click(function() {
        otherWeek($(this).prev());
      });
      $('input[type=number]').keyup(function(e) {
        if(e.keyCode === 13) { //enter
          otherWeek($(this));
        }
      });

      highlightHour(getCorrectHour());
      var reCalcHour = setInterval(function() {
        highlightHour(getCorrectHour())
      }, 1000 * 60 * 5);
    });
  </script>
{% endblock %}

{% block bodyclass %}
{% endblock %}

{% block page %}
  <div id="content">
    <div id="searchname">
      <input type="text" placeholder="Vind een rooster..." id="search">
    </div>
    <ul id="acs"></ul>

    <section id="timetable">
      <h2>{{ h2 }}</h2>
      {{ timetable|safe }}
    </section>
  </div>
{% endblock %}
